.background
{
  color: #282c34;
  min-height: 100vh;
  
}

.title {
    max-height: fit-content;
    padding: 0%;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }